<div class="chat-sidebar">
    <div class="app-logo">
        <i class="fas fa-comments"></i>
        <a href="{{ url_for('index.index') }}" class="app-logo-text" style="text-decoration: none; color: inherit;">
            <h1>Python Chat</h1>
        </a>
    </div>
    <a href="{{ url_for('chats.profile') }}" class="profile-link" , style="text-decoration: none; color: inherit;">
        <div class="user-info">
            <div class="avatar">{{ current_user.username[0] | upper }}</div>
            <div class="user-details">
                <span class="username">{{ current_user.username }}</span>
                <span class="status online">Online</span>
            </div>
        </div>
    </a>
    <nav class="sidebar-nav">
        <a href="{{ url_for('index.index') }}" class="nav-item">
            <i class="fas fa-home"></i> Chat List
        </a>
        <a href="{{ url_for('auth.logout') }}" class="nav-item">
            <i class="fas fa-sign-out-alt"></i> Logout
        </a>
    </nav>
</div>